<?php
/*+***********************************************************************************
 * ED151008
 *************************************************************************************/

require_once   'includes/Loader.php';
require_once   'includes/runtime/Controller.php';
require_once   'includes/runtime/BaseModel.php';
require_once   'includes/runtime/Globals.php';

Vtiger_FindDuplicate_Action::runScheduledSearch();

?>
