.ROW_STATUS_COLORS_0 {
  background-color : inherit;
}
.ROW_STATUS_COLORS_1 {
  background-color : #3FF13F;
}
.ROW_STATUS_COLORS_2 {
  background-color : yellow;
}
.ROW_STATUS_COLORS_3 {
  background-color : #3FF13F;
}
.ROW_STATUS_COLORS_4 {
  background-color : #3FF13F;
}
.ROW_STATUS_COLORS_4 {
  background-color : #FFC0A0;
}

.RECORDID_STATUS_COLORS_0 {
  background-color : rgb(220, 184, 184);;
}
.RECORDID_STATUS_COLORS_1 {
  background-color : #3FF13F;
}
.RECORDID_STATUS_COLORS_2 {
  background-color : #A0FFC0;
}
.RECORDID_STATUS_COLORS_3 {
  background-color : #C0FFA0;
}
.RECORDID_STATUS_COLORS_4 {
  background-color : #7fab6a;
}
.RECORDID_STATUS_COLORS_5 {
  background-color : #BB8787;
}
.RECORDID_STATUS_COLORS_10 {
  background-color : yellow;
}
.RECORDID_STATUS_COLORS_11 {
  background-color : yellowgreen;
}
.RECORDID_STATUS_COLORS_12 {
  background-color : orange;
}

.values-neq {
    color: red !important;
    font-weight: bold;
}
.values-eq {
    color: green !important;
}

.importPreview input{
  display: inline;
}
.importContents td.select-contact
, .importContents td.create-contact
, .importContents td.skip-row
, .importContents td.restore-check-row {
  min-width: 70px;
  padding-bottom: 1em !important;
  white-space: nowrap;
}
.importContents td.select-contact label
, .importContents td.create-contact label
, .importContents td.skip-row label
, .importContents td.restore-check-row label {
  margin-bottom: 0px;
}

.importContents thead th{
  color: red;
}

.importContents td, .importContents th{
  color: black;
}
.importContents .preimport-row th{
  color: gray;
  text-align: left;
  padding-left: 2em;
}
.importContents .preimport-row th:first-of-type label {
  height: 2em;
  float: left;
  width: 70%;
}

.importContents tr.preimport-row:first-of-type,
.importContents tr.contact-row + tr.preimport-row {
  border-top: 2px inset gray;
}
.importContents tr.preimport-row,
.importContents tr.contact-row {
  border-left: 2px inset gray;
  border-right: 2px inset gray;
}
.importContents tr.contact-row th
, .importContents tr.contact-row td {
  color: #666666;
  padding: 3px 10px;
  border-bottom: 1px solid gray;
}
/* cellules des lignes de contacts existants et sélectionnés */
.importContents tr.contact-row.selected-contact > :not(.tools-row):not(.contact-source) {
  background-color: #F8F9B8;
}
/* label des bouton radio de contact sélectioné */
th.enlarge-click-container {
  padding: 0px !important;
}
th.enlarge-click-container > * {
  padding: 8px 10px;
}

.importContents tr.preimport-row td {
  border-left: 1px solid #CCCCCC;
  min-width: 5em;/*toolbox no-wrap*/
}
.importContents tr.preimport-row .value input
, .importContents tr.preimport-row .value select {
  margin-top: 8px;
  width: 100%;
  min-width: 8em;
}
.importContents tr.preimport-row .value select{
  width: initial;
}

a.address-sna-check, a.address-pagesblanches {
  float: right;
  color: #8888CC;
  padding: 2px;
  border-radius: 3px;
}
a.address-sna-check:hover, a.address-pagesblanches:hover {
  border: 2px outset gray;
  color: #333333;
}
a.address-sna-check:active, a.address-pagesblanches:active {
  border: 2px inset gray;
}


.importContents div.cell-toolbox {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 5px;
  /*white-space: nowrap;*//*useless, set min-width*/
  /*min-width: 4em;*/
}
.importContents .cell-toolbox a {
  cursor: pointer;
  padding: 0px 2px;
  vertical-align: top;
}
.importContents .cell-toolbox a.trash{
  padding-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
}

.importContents td.selected-value {
  border: 3px inset gray;
  font-weight: bold;
}
.importContents td.not-selected-value {
  opacity: 0.9;
  text-decoration: line-through;
}
.importContents td.cell-deleted {
  opacity: 0.7;
  text-decoration: line-through;
}
.importContents td.cell-deleted .ui-icon-trash {
  border: 2px inset black;
}

/* case à cocher "sélectionner toutes les lignes"*/
.importPreview .all-rows-selection {
  margin-right: 8px;
}

.contact-no {
  font-size: 10px;
  display: inline-block;
}

tr.contact-row td[data-fieldname="rsnnpai"] {
  min-width: 8em;
  padding-right: 6px;
}
tr.contact-row td .addressmodifiedtime {
  text-align: right;
}