
.detailViewInfo {
	margin-left: 18px;
}

tr.pointee {
	display: none;
}
table.show-pointee tr.pointee {
	display: table-row;
	background-color: #AAF8AC;
}

table.compte th {
	text-align: center;
	border-top: 2px solid black;
}
table.compte td {
	padding-right: 8px;
	padding-left: 8px;
	width: 8em;
}
table.compte td:first-of-type {
	text-align: right;
}
th.date, td.date {
	width: 7%;
}