body,
table td a,
label {
  color: #111111;
}
.muted {
  color: #444444;
}

/* bootstrap */
.table-bordered thead:first-child tr:first-child > * th, .table-bordered tbody:first-child tr:first-child > * th, .table-bordered tbody:first-child tr:first-child > * td {
    border-top: 1px solid #ddd;
}

/* placeholder, trop foncé chez certains */
::-webkit-input-placeholder { color: #888888; }
::-moz-placeholder { color: #888888; }
:-moz-placeholder { color: #888888; }
:-ms-input-placeholder { color: #888888; }


.rsn_block_values_summary {
    display: inline-block;
    padding-left: 3em;
    font-size: smaller;
    font-weight: normal;
    text-transform: lowercase;
    
}
[class^="icon-rsn-small"],
[class*=" icon-rsn-small"] {
  background-image: url("../images/rsn.16.png");
  background-position: 0px 0px;
  border: none;
  width: 15px;
}
[class^="icon-rsn-large"],
[class*=" icon-rsn-large"] {
  background-image: url("../images/rsn.32.png");
  background-position: 0px 0px;
  border: none;
  width: 32px;
  height: 32px;
}

.icon-rsn-small-contact {    background-position: 0 0; }
.icon-rsn-large-contact {    background-position: 0 0; }
.icon-rsn-small-isgroup0 {    background-position: 0 0; }
.icon-rsn-large-isgroup0 {    background-position: 0 0; }
.icon-rsn-small-collectif {    background-position: -16px 0; }
.icon-rsn-large-collectif {    background-position: -32px 0; }
.icon-rsn-small-isgroup1 {    background-position: -16px 0; }
.icon-rsn-large-isgroup1 {    background-position: -32px 0; }
.icon-rsn-small-isgroup2 {    background-position: -32px 0; }
.icon-rsn-large-isgroup2 {    background-position: -64px 0; }
.icon-rsn-small-isgroup3 {    background-position: -48px 0; }
.icon-rsn-large-isgroup3 {    background-position: -96px 0; }
.icon-rsn-small-isgroup4 {    background-position: -64px 0; }
.icon-rsn-large-isgroup4 {    background-position: -128px 0; }
.icon-rsn-small-isgroup5 {    background-position: -80px 0; }
.icon-rsn-large-isgroup5 {    background-position: -160px 0; }
.icon-rsn-small-account {    background-position: -96px 0; }
.icon-rsn-large-account {    background-position: -192px 0; }


.icon-rsn-small-smiley--100 {    background-position: -113px -1px; }
.icon-rsn-small-smiley--50 {    background-position: -129px -1px; }
.icon-rsn-small-smiley-0 {    background-position: -145px -1px; }
.icon-rsn-small-smiley-50 {    background-position: -161px -1px; }
.icon-rsn-small-smiley-100 {    background-position: -177px -1px; }
.icon-rsn-small-smiley-query {    background-position: -193px -1px; }

.icon-rsn-small-formataddress-NC1 {    background-position: -209px -1px; }
.icon-rsn-small-formataddress-CN1 {    background-position: -225px -1px; }
.icon-rsn-small-formataddress-C1 {    background-position: -241px -1px; }
.icon-rsn-small-formataddress-N1 {    background-position: -257px -1px; }

.detailViewTitle .rsn-summaryImg {
    display: inline-block;
    width: 48px;
    height: 48px;
    text-align: center;
}
.detailViewTitle .rsn-summaryImg [class^="icon-rsn-large"] {
    margin-top: 8px;
}


.ui-icon.square-green { width: 12px; height: 12px; background-image: url(../images/Square-green.png); }
.ui-icon.square-red { width: 12px; height: 12px; background-image: url(../images/Square-red.png); }

.visible-on-hover {
  min-width: 2em;
}
.visible-on-hover:hover .hide, .visible-on-hover .hide:focus {
  display: inline-block !important;
}

/* par exemple, éditeur de picklist values */
.selectedListItem {
  background-color: #e9e5c8;
}
/* jQuery UI
layouts\vlayout\skins\woodspice\style.css a aussi des modifs de couleur sur .ui-buttonset (marron au lieu du bleu du thËme jQuery UI)
*/
/* affadit le texte des boutons non sélectionnés */
.ui-buttonset .ui-button {
  color: #5a5a5a;
}
.row-fluid .ui-icon,
.quickCreateContent .ui-icon,
.ui-buttonset .ui-button .ui-icon {
  display: inline-block;
}
.ui-buttonset .ui-button [class^="icon-"] {
  opacity: 0.7;
}
.ui-buttonset .ui-state-active {
  color: #ffffff;
}
.ui-buttonset .ui-state-active [class^="icon-"] {
  opacity: 1;
}
.ui-buttonset-small .ui-buttonset .ui-button {
  padding: 4px;
}
label.ui-buttonset > span {
  vertical-align: middle;
}
label > input[type="checkbox"] {
  vertical-align: top;
}

/* jQuery UI icons
 * add color class
 */
.ui-icon.black { width: 16px; height: 16px; background-image: url(../images/ui-icons_222222_256x240.png); }/*libraries/jquery/jquery-ui/css/custom-theme*/
.ui-icon.darkgray { width: 16px; height: 16px; background-image: url(../images/ui-icons_222222_256x240.png); }
.ui-icon.blue { width: 16px; height: 16px; background-image: url(../images/ui-icons_2e83ff_256x240.png); }
.ui-icon.gray { width: 16px; height: 16px; background-image: url(../images/ui-icons_454545_256x240.png); }
.ui-icon.lightgray { width: 16px; height: 16px; background-image: url(../images/ui-icons_888888_256x240.png); }
.ui-icon.red { width: 16px; height: 16px; background-image: url(../images/ui-icons_cd0a0a_256x240.png); }
.ui-icon.darkred { width: 16px; height: 16px; background-image: url(../images/ui-icons_820608_256x240.png); }
.ui-icon.orange { width: 16px; height: 16px; background-image: url(../images/ui-icons_f6cf3b_256x240.png); }
.ui-icon.green { width: 16px; height: 16px; background-image: url(../images/ui-icons_71c000_256x240.png); }
.ui-icon.darkgreen { width: 16px; height: 16px; background-image: url(../images/ui-icons_2b7006_256x240.png); }

/* marque le haut d'une ligne pour un nouveau jour
 * créé pour RSNMediaRelations
 */
.listViewEntries.new-day > td {
  border-top: 1px dashed #8855AA;
}

#RSNMediaRelations_editView_fieldName_daterelation {
  width: 6em;
}

tr.listViewEntries.duplicates-group:hover > td:first-of-type {
  background-color: transparent;
  background-image: none;
}
tr.listViewEntries.duplicates-group > td {
  border-top: 2px inset #8855AA;
}
tr.listViewEntries.duplicates-group:hover > td {
  border-color: #8855AA;
}
tr.listViewEntries.duplicates-group > td input[type="button"] {
  margin-bottom: 1em;
}

/* alignement à droite des colonnes numériques */
td.listViewEntryValue[data-field-type="currency"]
, td.listViewEntryValue[data-field-type="double"]{
  text-align: right;
  padding-right: 16px;
}

/* pickListValuesTable Picklist settings */
.pickListValue .picklist-color {
  display: none;
  margin-right: 4px;
  width: 2.5em;
  height: 1.3em;
  /*border: 1px solid black;
  border-radius: 2px;*/
}
.properties-uicolor .pickListValue .picklist-color {
  display: inline-block;
}
.pickListValue .colorpicker-holder {
  height: 16px;
  background-image: url(../images/colorpicker-picklist-select.png);
}
.pickListValue .colorpicker-holder div {
  height: 14px;
  background: none;
}
.picklistvalue-uicolor {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin-bottom: 4px;
  margin-right: 4px;
  border-radius: 1px;
}

/* TODO mieux faire */
#s2id_RSNMedias_QuickCreateAjax_fieldName_rsntypesmedia {
  min-width: 22em;
}

.summaryWidgetContainer .btn.pull-right {
  margin-left: 6px;
}

/*  used in layouts\vlayout\modules\RSNContactsPanels\RSNPanelsVariablesSummaryWidgetContents.tpl */
.relatedRow:hover .actions .hide {
  display: inline;
}
.line-through {
  text-decoration: line-through;
}

/* for layouts\vlayout\modules\RSNContactsPanels\RSNPanelsVariablesSummaryWidgetContents.tpl
 * les combos chosen ne s'affichent pas correctement dans les widgets.
 * TODO : mauvais rendu
 */
.summaryWidgetContainer .chzn-container-active {
  position: absolute;
}

/* RSNContactsPanels */
.summaryWidgetContainer .rsnvariabletype-panel .fieldLabel a {
  font-weight: bold;
  text-decoration: underline;
}
.summaryWidgetContainer .rsnsubpanel {
  border-left: 1px solid #ddba7a;
  padding-left: 3px;
}
.summaryWidgetContainer .rsnsubpanel .fieldLabel  a {
  padding-left: 1em;
}

/* Contacts EditViewBlocks.tpl */
.fieldLabel .subFieldLabel {
  display: block;
  line-height: 18px;
  vertical-align: middle;
  text-align: right;
  margin: 10px 0;
}

/* les enfants de cette classe passent en ligne
  utilisé par layouts/vlayout/modules/Contacts/SummaryViewContents.tpl
*/
.inline-children > * {
  display: inline-block;
  margin-right: 6px;
}

/* Invoice, Inventory */
/* reçu */
#invoice-recu {
  padding-right: 1em;
}
#detailView #invoice-recu {
  text-align: right;
  background-color: #F0F7D5;
  padding: 2px 4px;
  margin-right: 1em;
}
/* sous-tables (reçu) */
#detailView .table table th, #EditView .table table th, #detailView .table table td, #EditView .table table td ,
form#EditView table table th, .profileDetailView table table th, form#EditView table table td, .profileDetailView table table td {
    border-bottom: none !important;
    line-height: normal;
    padding: 2px;
    white-space: nowrap;
}

#inventory_accountdiscounttype_holder {
  display: inline-block;
  margin-left: 12px;
  padding: 3px 2px 3px 4px;
  background-color:  rgba(255, 255, 255, 0.30);
  border-radius: 4px;
}
#inventory_accountdiscounttype_setter {
  cursor: pointer;
}


/* layouts\vlayout\modules\Vtiger\ListViewContents.tpl
 */
.listViewHeaders.filters input, .listViewHeaders.filters select {
  /*max-width: 5em;*/
  width: 90%;
  padding: 0 3px;
  margin-bottom: 0;
  opacity: 0.7;
}
.listViewHeaders.filters select {
  /*max-width: 10em;*/
  width: 90%;
  height: 20px;
}
.listViewEntriesTable .listViewHeaders th + th {
  padding: 3px 5px !important;
}
.listViewEntriesTable .listViewHeaders.filters th + th {
  padding: 0px 5px 5px 5px !important;
}
/* compteur des tables liées */
.related .nav li a {
  text-align: right;
}
.related .nav li a strong {
  float: left;
}
.related .nav li a .relcount {
  /* float: right; ne fonctionne pas, dans ce contexte, sur FireFox/Mac */
  font-weight: bold;
}

/* invoice product line, replacing smallInputBox */
.tinyInputBox {
    height: 12px;
    width: 20%;
}

/* Invoice */
#shipping_handling_charge_plus, #shipping_handling_charge_minus, #received_set_balance {
  font-size:1.5em; font-weight: bold; padding:6px; cursor: pointer; float:right;
}
a.qty_helper_plus, a.qty_helper_minus {
  font-size:1.5em; font-weight: bold; padding:6px; cursor: pointer;
}

/* purchase order potype */
.ui-icon.potype {
  height: 22px;
  width: 23px;
}
.ui-icon.potype.order {
  background-image: url('../images/potype-order.jpg');
}
.ui-icon.potype.receipt {
  background-image: url('../images/potype-receipt.jpg');
}
.ui-icon.potype.invoice {
  background-image: url('../images/potype-invoice.jpg');
}
.detailViewTitle label.ui-buttonset {
  font-size: 16px;
}

/* relatedlist with header filters row */
#detailView .table th {
  border-bottom: none !important;
}
#detailView .table tr:last-of-type th {
  border-bottom: 1px solid #d3d3d3 !important;
}



/* adresse SNA */
button.address-sna-check {
  margin-right: 28px;
  border: none;
  color: #666666;
  height: 20px;
  vertical-align: top;
  font-size: 12px;
}
/* SNA form */
.address-check-editor thead th {
  background-color: #809fff;
}
.address-check-editor td {
  padding: 2px 4px;
}
.address-check-editor .address-value {
  margin-left: 8px;
}
.address-check-editor .submit-cell {
  text-align: center;
}
.address-check-editor label input {
  display: inline;
}

/** ED150904 Override layouts/vlayout/skins/woodspice/style.css
ListView stylings **/
.alphabetSorting {
  /*margin: 4px 0 !important;*/
  height: auto;
}

.alphabetSearch label {
  margin-top: 2px;
  margin-bottom: 2px;
}

#detailView div.relatedContainer.rsnstatistics .listViewEntriesTable > * > tr > *:first-of-type ~ * {
  text-align: right;
  padding-right: 1em !important;
}

#detailView div.relatedContainer.multidates div.input-append > div,
#detailView div.relatedContainer.multidates div.sub-field > div{
  height: 37px;
}
/* button set en detail view, hors édition */
#detailView .value label.ui-buttonset {
  border: none;
}

/* detailView summary
stats */
#detailViewHeaderCenter {
  float: left;
}
#statisticsSummary {
  max-height: 43px;
  border: 1px solid white;
  color: gray;
  padding: 2px;
  line-height: 11px;
}
#statisticsSummary .stat-field {
  padding-right: 8px;
  font-size: smaller;
}
#statisticsSummary:hover {
  position: absolute;
  max-height: inherit;
  background: white;
  border: 1px solid gray;
  color: black;
  z-index: 9999;
}
#statisticsSummary td ~ td {
  text-align: right;
}
#statisticsSummary td.unit {
  padding-right :2px;
}


/*CustomView editor : bugg select picklist
Correction : c'est uniquement quand il y a un var_dump qui traine */
#CustomView input[type="text"] {
  height: auto;
}
#CustomView .conditionRow.sub-field {
 border-left: 1px gray dotted;
}
#CustomView .conditionRow.sub-field span:first-of-type .chzn-container {
  margin-left: 8px;
}

#CustomView .anyConditionContainer .deleteConditionsGroup { display: none; }
#CustomView .anyConditionContainer ~ .anyConditionContainer .deleteConditionsGroup { display: inherit; }
#CustomView .addConditionsGroup button, #CustomView .deleteConditionsGroup button {
  padding: 2px 4px;
  margin-top: 10px;
}
/* Merge records */
#mergeRecords .listViewHeaders label {
  color: white;
}
#mergeRecords thead.listViewHeaders label {
  display: inline-block;
  margin-right: 1em;
}
#mergeRecords .records-value .value,
#mergeRecords .records-value input[type="checkbox"],
#mergeRecords .records-value input[type="radio"] {
  float: left;
}
#mergeRecords .records-value .value{
  margin-left: 8px;
}
#mergeRecords .records-value .value .ui-icon{
  display: inline-block;
}

/* Editeur du menu Tout */
#menuEditorContainer .contents {
  padding: 0px; width: 60em;
}
#menuEditorContainer .menuParent {
  display: inline-block; vertical-align: top; margin: 4px; padding: 4px; border: 1px outset #CCCCCC; width: 12em;
}
#menuEditorContainer .menuParent > ul {
  list-style: none; margin-left: 8px;
}
#menuEditorContainer .menuItem {
  margin-bottom: 8px;
}

/* ToolTip on reference */
.popover {
  z-index: 9999;
}
.popover-inner {
  width: 380px;
}
.popover-content .ui-icon {
  display: inline-block;
}

/* popup */
#searchableColumnsListContainer {
  text-align: left;
}
#searchableColumnsListContainer .chzn-container .chzn-results li {
  line-height: 100%;
}