<?php
/*+***********************************************************************************
 * ED150708
 *************************************************************************************/

require_once   'includes/Loader.php';
require_once   'includes/runtime/Controller.php';
require_once   'includes/runtime/BaseModel.php';
require_once   'includes/runtime/Globals.php';

require_once('modules/SCINEvents/actions/Import.php');

$action = new SCINEvents_Import_Action();
$action->runScheduledImport();


?>
